.link {
  text-decoration: none;
  /*color: var(--tg-theme-link-color);*/
}

.banner {
  background-color: var(--tg-theme-bg-color);
}
.banner:hover {
  background-color: var(--tg-theme-tertiary-bg-color)!important;
}

.ant-steps .ant-steps-item-process.ant-steps-item-custom .ant-steps-item-icon >.ant-steps-icon {
  color: var(--tg-theme-accent-text-color)!important;
}

.p-timeline {
  margin-top: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.p-timeline-event {
  display: flex;
  position: relative;
  min-height: 50px;
}

.p-timeline-event-opposite {
  flex: 0;
  padding: 0;
}

.p-timeline-event-content {
  position: relative;
  top: -.8rem;
  flex: 1;
  padding: 0 1rem;
}

.p-timeline-event-marker {
  border: 2px solid var(--tg-theme-accent-text-color);
  background-color: transparent;
}

.p-timeline-event-marker-disabled {
  border: 2px solid var(--tg-theme-hint-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  opacity: 0.4;
}

.p-progress-spinner-svg {
  /*animation: p-progress-spinner-rotate 2s linear infinite;*/
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.p-progress-spinner-circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
  stroke: var(--tg-theme-accent-text-color);
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

.adm-button-primary {
  --color: var(--tg-theme-accent-text-color);
}

.adm-button:not(.adm-button-default).adm-button-fill-outline {
  --text-color: var(--tg-theme-hint-color);
  --border-color: var(--tg-theme-hint-color);
  --background-color: transparent;
}